<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>MySite | Add Forum</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="/">MySite</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/AddForum">Add Forum</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid" style="margin-top:60px">
        <div class="container">
            <h3>Add New Forum</h3>
            <form method="POST" action="/AddNewForum">
                {% csrf_token %}
              <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required>
              </div>

              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="Enter email" id="email" name="email" required>
              </div>
              
              <div class="form-group">
                <label for="topic">Topic:</label>
                <input type="text" class="form-control" placeholder="Enter Topic" id="topic" name="topic" required>
              </div>

              <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" placeholder="Enter Description" id="description" name="description" required>
              </div>

              <div class="form-group">
                <label for="link">Link:</label>
                <input type="text" class="form-control" placeholder="Enter Link" id="link" name="link" required>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
    </div>
</body>
</html>